$primary-color: #323232;
$secondary-color: #69a9f2;
$secondary-darker-color: #3780f2;
$third-color: #fff;

$title-color: #272727;
$text-color: #868686;
$link-color: $secondary-color;
$greyed-color: #e9e9e9;
$error-color: #f1706d;
$success-color: #8fcd92;
$disabled-color: #e0e0e0;
$background-main-color: $third-color;

$btn-small-font-size: 12px;
$btn-medium-font-size: 14px;
$btn-big-font-size: 18px;

$btn-padding: 16px 30px;
$btn-border-radius: 30px;

$text-size-s: 10px;
$text-size-m: 14px;
$text-size-l: 18px;
$text-size-x: 38px;
$text-size-xl: 42px;
