<button  class="btn" routerLink="/">Home</button>
<h1>Terms of Services</h1>
<br>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto, aut consequatur corporis dignissimos
  distinctio doloribus ducimus ea, eaque eius eligendi excepturi explicabo harum impedit nam natus neque nesciunt nobis
  perferendis placeat quae quisquam repellat sequi similique sit sunt voluptatibus. Amet at atque autem cum dicta
  ducimus ea eaque earum eligendi et ex expedita facilis id iste laudantium, magnam maxime mollitia nostrum obcaecati
  quaerat qui quidem quo ratione tempore totam ut velit vero voluptatem voluptatibus voluptatum? Adipisci aliquam illo
  incidunt nisi odio pariatur, quam, qui reprehenderit sed similique temporibus, voluptatum. Deserunt earum illum
  incidunt, natus porro quasi voluptatibus? Libero, qui.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias beatae deserunt dolor dolores doloribus ea
  eligendi explicabo impedit inventore laudantium modi mollitia nihil nisi, non nulla numquam possimus quaerat
  recusandae reiciendis soluta velit voluptas! Ab accusantium adipisci alias aspernatur delectus expedita hic nemo neque
  nihil numquam quam ullam, vitae?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam at deleniti deserunt dolore eaque eligendi
  explicabo id ipsam magnam magni placeat quae qui, quidem sit tempore voluptatem? Debitis, magnam?
</p>
