<h1 class="text-xl text-center mb-l">
  Recover your password
</h1>
<div class="text-l text-center success-text-section mb-l">
  Enter your registered email or username to reset your password
</div>
<form #recoverPasswordForm="ngForm">
  <p class="control-wrap col mb-l">
    <input type="text"
           required
           name="usernameOrEmail"
           [(ngModel)]="usernameOrEmail"
           placeholder="Username or Email">
  </p>
  <p class="col">
    <button class="btn btn-primary recover-password"
            [ngClass]="{'btn-disabled': recoverPasswordForm.invalid}"
            [disabled]="recoverPasswordForm.invalid"
            (click)="submit(recoverPasswordForm)"
            type="button">
      Recover Password
    </button>
  </p>
</form>

