<div class="main-section" *ngIf="(recoverPasswordSuccess$ | async) === false">
  <h1 class="text-xl text-center mb-l">
    Recover your password
  </h1>
  <div class="text-l text-center success-text-section mb-l">
    Enter your registered email or username to reset your password
  </div>
  <form #recoverPasswordForm="ngForm">
    <div class="control-wrap col mb-l with-errors">
      <input type="text"
             required
             name="usernameOrEmail"
             [(ngModel)]="usernameOrEmail"
             placeholder="Username or Email">
    <ul class="errors text-m">
      <li class="error" *ngIf="recoverPasswordError$ | async">{{recoverPasswordError$ | async}}</li>
    </ul>
    </div>
    <p class="col">
      <button class="btn btn-primary recover-password"
              [ngClass]="{'btn-disabled': recoverPasswordForm.invalid}"
              [disabled]="recoverPasswordForm.invalid"
              (click)="submit(recoverPasswordForm)"
              type="button">
        Recover Password
      </button>
    </p>
  </form>
</div>
<app-recover-password-success *ngIf="recoverPasswordSuccess$ | async"></app-recover-password-success>

