<h1 class="text-xl mb-xl">Log In To Your Account</h1>
<form name="login">
  <section [formGroup]="loginForm">
    <p class="col  mb-l">
      <input type="text"
             [formControlName]="controlNames.UserName"
             placeholder="User Name">
    </p>
    <p class="col  mb-l">
      <input type="password"
             [formControlName]="controlNames.Password"
             placeholder="Password">
    </p>
    <p class="col  mb-l">
      <button class="btn btn-primary"
              (click)="login()"
              type="button">
        Sign In
      </button>
    </p>
    <p class="row space-between">
      <label for="rememberMe">
        <input type="checkbox"
               id="rememberMe"
               [formControlName]="controlNames.RememberMe">
        Remember Me
      </label>
      <a class="link-text" routerLink="../recoverPassword">
        Forgot Password?
      </a>
    </p>
  </section>
</form>

